body {
    padding-top: 30px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
}

h2, h4 {
    color: #00304d;
}

.md-input {
    position: relative;
    margin-bottom: 30px;
}
.md-input .md-form-control {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 2px solid #CACACA;
    box-shadow: none;
    width: 100%;
}

.md-input label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.md-input .bar:before {
    left: 50%;
}

.md-input .bar:after {
    right: 50%;
}

.md-input .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #183D5D;
}

.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03A9F4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 50%;
}

.nickname {
    text-align: center;
    margin:auto;
    width: 200px;
    margin-top: 30px;
}

#welcomePanel, #signUpPanel {
    text-align: justify;
}

.container {
    max-width: 300px;
}

.sessionPanel {
    max-width: 800px;
    text-align: center;
}

#welcomePanel {
    max-width: 800px;
}

#agePicker {
    margin-top: 60px;
}

button {
    margin-top: 30px;
}
.input-group {
    margin-bottom: 15px;
}
