<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selekcja Wasona</title>

    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminPanel.css' %}" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <strong><a class="navbar-brand" href="/">Selekcja Wasona</a></strong>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signUp' %}">Sesja egzaminacyjna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'trainingMode' %}">Sesja treningowa</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'adminPanel' %}">Panel eksperymentatora</a>
              </li>
            </ul>
            
          </div>
    </nav>
    
    <div id="content" class="container">
        <h3>Panel eksperymentatora</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Zmień" />
        </form>

        <a href="{% url 'exportCSV' %}"><button style="margin-top:20px;" class="btn btn-info btn-lg" type="button">Eksportuj wyniki jako CSV</button></a>
         <a href="{% url 'exportCSVPlayers' %}"><button style="margin-top:20px;" class="btn btn-info btn-lg" type="button">Eksportuj dane o OB jako CSV</button></a>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
    </script>
</body>
</html>