    <div class="container">
        <div id="topPanel"><h4>
Wyobraź sobie, że jesteś Kaluamem, członkiem Polinezyjskiej kultury znalezionej tylko na wyspie Maku na Pacyfiku. Kaluamowie mają wiele ścisłych praw, które muszą być przestrzegane. Starsi ufają Tobie jeśli pilnujesz ich przestrzegania. Poniesienie w tym porażki ściągnęłoby na Ciebie i Twoją rodzinę niełaskę starszyzny.
Wśród Kaluamów, gdy mężczyzna żeni się, otrzymuje na twarzy tatuaż, tylko żonaci męŜczyźni mają tatuaże na swoich twarzach. Zatem tatuaż na twarzy oznacza, iż mężczyzna jest żonaty, twarz nienaznaczona wskazuje na to, że mężczyzna jest kawalerem.
Korzeń kasawy jest bardzo silnym afrodyzjakiem - czyni on mężczyznę, który go spożywa nieodpartym dla kobiet. Ponad to, jest on smaczny i pożywny oraz bardzo rzadki.
W przeciwieństwie do korzenia kasawy orzechy molo są bardzo powszechnym lecz marnym pożywieniem - orzechy molo są niesmaczne, niezbyt pożywne i nie mają innych interesujących "medycznych" własności.
Chociaż każdy pragnie korzenia kasawy, spożywanie go jest przywilejem, który jest ściśle racjonowany przez Twój lud. Jesteście bardzo zmysłowi, nawet bez afrodyzjakalnych własności korzenia kasawy, ale posiadacie bardzo ścisłe zwyczaje seksualne. Starszyzna plemienna stanowczo nie pochwala stosunków seksualnych między niezamężnymi ludźmi a w szczególności nie ufa motywom i intencjom kawalerów. Wobec tego starszyzna ustanowiła prawa rządzące wydzielaniem przywilejów. Prawo, które zostało powierzone Tobie do wprowadzania i pilnowania brzmi następująco:
jeśli mężczyzna je korzeń kasawy, to musi mieć tatuaż na twarzy.
Korzeń kasawy jest tak potężnym afrodyzjakiem, że sprawia, iż wielu mężczyzn próbuje omijać to prawo, gdy tylko starsi nie patrzą. Karty, które zobaczysz poniżej zawierają informację o czterech młodych kaluamskich mężczyznach siedzących w tymczasowym obozowisku, wokół którego nie ma nikogo ze starszyzny. Dla mężczyzn została w obozowisku zostawiona taca z korzeniem kasawy i orzechami molo. Każda karta reprezentuje jednego mężczyznę. Jedna jej strona mówi o tym, co spożywa mężczyzna a druga strona karty mówi, czy mężczyzna ma na twarzy tatuaż, czy nie. Twoim zadaniem jest łapanie na gorącym uczynku mężczyzn, których pożądanie seksualne mogło popchnąć do łamania prawa. Ty i Twoja rodzina popadniecie w niełaskę starszyzny, - jeśli którykolwiek mężczyzną oszuka Cię. Zaznacz tylko te karty, które potrzebujesz odkryć aby przekonać się, czy którykolwiek z mężczyzn złamał powyższą regułę. Reguła ta prezentowana jest jeszcze raz poniżej.</h4></div>
        <div class="topPanelButton">
            <button onclick="showBottomPanel()">Dalej</button>
        </div>
        <div id="bottomPanel" class="bottomPanel">
            <h3 id="description">jeśli mężczyzna je korzeń kasawy, to musi mieć tatuaż na twarzy</h3>

            <div class="row shufflediv">
                <div class="col-md-3">
                    <div class="card correct" onmousedown="cardClicked(this, event)">
                        <div id="test5-number1" class="number">je korzeń kasawy</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" onmousedown="cardClicked(this, event)">
                        <div id="test5-number2" class="number">je orzechy molo</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="" class="card" onmousedown="cardClicked(this, event)">
                        <div id="test5-number3" class="number">ma tatuaż</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="" class="card correct" onmousedown="cardClicked(this, event)">
                        <div id="test5-number4" class="number">nie ma tatuażu</div>
                    </div>
                </div>
            </div>

            <h4>Zaznacz tylko te karty, które potrzebujesz odkryć aby przekonać się, że w tej talii powyższa reguła jest złamana.</h4>

            <h4 style="font-style: italic">Naciśnij odpowiednie przyciski reprezentujące karty. Klikając przycisk powtórnie możesz cofnąć wybór</h4>

            <div class="button">
                <button onclick="check()">Dalej</button>
            </div>
        </div>
    </div>