    <div class="container">
        <div id="topPanel"><h4>
Wyobraź sobie, że jesteś urzędnikiem imigracyjnym na Międzynarodowym Porcie Lotniczym w Manili, stolicy Filipin. Między dokumentami, które musisz sprawdzić jest kartka nazywana formularzem Z. Jedna strona tego formularza zawiera informację czy osoba przyleciała na Filipiny - "WJAZD", czy też tylko podróżuje przez Filipiny tranzytem - "TRANZYT", podczas gdy druga strona zawiera listę nazw tropikalnych chorób przeciw którym pasażer był szczepiony w ciągu ostatnich 6 miesięcy. Musisz przekonać się, że:
jeśli formularz z jednej informuje "WJAZD", to na drugiej stronie na liście chorób występuje malaria.
Jest to regulacja zdrowotna, której celem tego jest upewnienie się, że pasażerowie przylatujący na Filipiny są chronieni przed tą chorobą. Karty, które zobaczysz poniżej przedstawiają cztery formularze typu Z. Wskaż, który z tych formularzy byś odwrócił(-a), aby sprawdzić powyższą regulację zdrowotną. Zaznacz tylko te karty, które potrzebujesz sprawdzić, czy którakolwiek osoba złamała regulację zdrowotną. Reguła ta prezentowana jest jeszcze raz poniżej.</h4></div>
        <div class="topPanelButton">
            <button onclick="showBottomPanel()">Dalej</button>
        </div>
        <div id="bottomPanel" class="bottomPanel">
            <h3 id="description">jeśli formularz z jednej informuje "WJAZD", to na drugiej stronie na liście chorób występuje malaria</h3>

            <div class="row shufflediv">
                <div class="col-md-3">
                    <div class="card correct" onmousedown="cardClicked(this, event)">
                        <div id="test3-number1" class="number">Wjazd</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" onmousedown="cardClicked(this, event)">
                        <div id="test3-number2" class="number">Tranzyt</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="" class="card" onmousedown="cardClicked(this, event)">
                        <div id="test3-number3" class="number">malaria, tyfus</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="" class="card correct" onmousedown="cardClicked(this, event)">
                        <div id="test3-number4" class="number">tyfus</div>
                    </div>
                </div>
            </div>

            <h4>Zaznacz tylko te karty, które potrzebujesz odkryć aby przekonać się, że w tej talii powyższa reguła jest złamana.</h4>

            <h4 style="font-style: italic">Naciśnij odpowiednie przyciski reprezentujące karty. Klikając przycisk powtórnie możesz cofnąć wybór</h4>

            <div class="button">
                <button onclick="check()">Dalej</button>
            </div>
        </div>
    </div>